body {
    background-image: linear-gradient(red, yellow);
    border: black;
}
body > h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color: white;
}
body > div > p > a {
    color:whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;

}
body > div > p > ul {
    justify-content: center;
}

