<html>
    <head>
        <title>Online Shop</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    </head>
    <body>
        <h1>Customer List</h1>
        {% for order in orders %}
            <div>
                
                <p> <ul>
                         <li>
                            <a href="/orders/{{orders.index(order)}}">
                             {{order.customer_name}}
                             </a>
                         </li>
                    </ul>
                </p>
            
            </div>
        {% endfor %}
    </body>
</html>